XmlSerializerTutorial/AnnaIsikuKvalifikatsioonid.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://producer.etoimik.xtee.riik.ee/producer/etoimik/AnnaIsikuKvalifikatsioonid"
           xmlns:etoimik="http://producer.etoimik.xtee.riik.ee/producer/etoimik"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           targetNamespace="http://producer.etoimik.xtee.riik.ee/producer/etoimik/AnnaIsikuKvalifikatsioonid"
           elementFormDefault="unqualified"
           xsi:schemaLocation="http://producer.etoimik.xtee.riik.ee/producer/etoimik BaseTypes.xsd">
  <xs:group name="SeaduseSateVastus">
    <xs:sequence>
      <xs:element name="AlgusKP" type="xs:date" nillable="true"/>
      <xs:element name="JaguNR" type="xs:long" nillable="true"/>
      <xs:element name="JaoNimetusKL" type="xs:long" nillable="true"/>
      <xs:element name="JaotiseNimetusKL" type="xs:long" nillable="true"/>
      <xs:element name="JaotisNR" type="xs:long" nillable="true"/>
      <xs:element name="LiikKL" type="xs:long" nillable="true"/>
      <xs:element name="Loige" type="xs:long" nillable="true"/>
      <xs:element name="LoigePrimm" type="xs:long" nillable="true"/>
      <xs:element name="LoppKP" type="xs:date" nillable="true"/>
      <xs:element name="ObjektID" type="xs:long" nillable="true"/>
      <xs:element name="Paragrahv" type="xs:long" nillable="true"/>
      <xs:element name="ParagrahvPrimm" type="xs:long" nillable="true"/>
      <xs:element name="PeatykiNimetusKL" type="xs:long" nillable="true"/>
      <xs:element name="PeatykkNR" type="xs:long" nillable="true"/>
      <xs:element name="Punkt" type="xs:string" nillable="true"/>
      <xs:element name="PunktPrimm" type="xs:long" nillable="true"/>
      <xs:element name="SeadustikKL" type="xs:long" nillable="true"/>
      <xs:element name="Tekst" type="xs:string" nillable="true"/>
      <xs:element name="TekstLyhendatult" type="xs:string" nillable="true"/>
    </xs:sequence>
  </xs:group>
  <xs:complexType name="AnnaIsikuKvalifikatsioonidParing">
    <xs:sequence>
      <xs:choice>
        <xs:element name="AsjaNR" type="xs:string"/>
        <xs:element name="Viitenumber" type="xs:string"/>
      </xs:choice>
      <xs:choice>
        <xs:element name="Isikukood" type="xs:string"/>
        <xs:sequence>
          <xs:element name="IsikuEesnimi" type="xs:string"/>
          <xs:element name="IsikuNimi" type="xs:string"/>
          <xs:element name="IsikuSynniKP" type="xs:date"/>
        </xs:sequence>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AnnaIsikuKvalifikatsioonidVastus">
    <xs:sequence>
      <xs:element name="Asi" nillable="true">
        <xs:complexType etoimik:type="etoimik:Asi">
          <xs:sequence>
            <xs:element name="AsjaNR" type="xs:string"/>
            <xs:element name="LiikKL" type="xs:long" nillable="true"/>
            <xs:element name="ObjektID" type="xs:long"/>
            <xs:element name="Menetlused" nillable="true">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Menetlus" maxOccurs="unbounded">
                    <xs:complexType etoimik:type="etoimik:Menetlus">
                      <xs:sequence>
                        <xs:element name="MenetluseNR" type="xs:string"/>
                        <xs:element name="ObjektID" type="xs:long"/>
                        <xs:element name="Toimingud" nillable="true">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="Toiming" maxOccurs="unbounded">
                                <xs:complexType etoimik:type="etoimik:Toiming">
                                  <xs:sequence>
                                    <xs:element name="AlaLiikKL" type="xs:long" nillable="true"/>
                                    <xs:element name="LiikKL" type="xs:long"/>
                                    <xs:element name="ObjektID" type="xs:long"/>
                                    <xs:element name="ToiminguOsalised" nillable="true">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="ToiminguOsaline" maxOccurs="unbounded">
                                            <xs:complexType etoimik:type="etoimik:ToiminguOsaline">
                                              <xs:sequence>
                                                <xs:element name="FyysilineIsik" nillable="true">
                                                  <xs:complexType etoimik:type="etoimik:FyysilineIsik">
                                                    <xs:sequence>
                                                      <xs:element name="Eesnimi" type="xs:string"/>
                                                      <xs:element name="Nimi" type="xs:string"/>
                                                      <xs:element name="Kood" type="xs:string" nillable="true"/>
                                                      <xs:element name="MuudeRiikideKoodid" type="xs:string" nillable="true"/>
                                                      <xs:element name="ObjektID" type="xs:long"/>
                                                    </xs:sequence>
                                                  </xs:complexType>
                                                </xs:element>
                                                <xs:element name="Sanktsioonid" nillable="true">
                                                  <xs:complexType>
                                                    <xs:sequence>
                                                      <xs:element name="Sanktsioon" maxOccurs="unbounded">
                                                        <xs:complexType etoimik:type="etoimik:Sanktsioon">
                                                          <xs:sequence>
                                                            <xs:element name="ObjektID" type="xs:long"/>
                                                            <xs:element name="AlaLiikKL" type="xs:long" nillable="true"/>
                                                            <xs:element name="LiikKL" type="xs:long"/>
                                                            <xs:element name="TyypKL" type="xs:long"/>
                                                            <xs:element name="AluseksOlevadSyydistusPunktid" nillable="true">
                                                              <xs:complexType>
                                                                <xs:sequence>
                                                                  <xs:element name="SyydistusPunkt" maxOccurs="unbounded">
                                                                    <xs:complexType etoimik:type="etoimik:SyydistusPunkt">
                                                                      <xs:sequence>
                                                                        <xs:element name="AlgusKP" type="xs:date" nillable="true"/>
                                                                        <xs:element name="KlientsysteemiID" type="xs:string" nillable="true"/>
                                                                        <xs:element name="LahendiKP" type="xs:date" nillable="true"/>
                                                                        <xs:element name="LahendKL" type="xs:long" nillable="true"/>
                                                                        <xs:element name="LoppKP" type="xs:date" nillable="true"/>
                                                                        <xs:element name="ObjektID" type="xs:long" nillable="true"/>
                                                                        <xs:element name="SulgemiseKP" type="xs:dateTime" nillable="true"/>
                                                                        <xs:element name="SyydistusPunktCSV" type="xs:string" nillable="true"/>
                                                                        <xs:element name="KvalifikatsiooniParagrahvid" nillable="true">
                                                                          <xs:complexType>
                                                                            <xs:sequence>
                                                                              <xs:element name="KvalifikatsiooniParagrahv" maxOccurs="unbounded">
                                                                                <xs:complexType etoimik:type="etoimik:KvalifikatsiooniParagrahv">
                                                                                  <xs:group ref="tns:SeaduseSateVastus" />
                                                                                </xs:complexType>
                                                                              </xs:element>
                                                                            </xs:sequence>
                                                                          </xs:complexType>
                                                                        </xs:element>
                                                                      </xs:sequence>
                                                                    </xs:complexType>
                                                                  </xs:element>
                                                                </xs:sequence>
                                                              </xs:complexType>
                                                            </xs:element>
                                                          </xs:sequence>
                                                        </xs:complexType>
                                                      </xs:element>
                                                    </xs:sequence>
                                                  </xs:complexType>
                                                </xs:element>
                                              </xs:sequence>
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Alused" nillable="true">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="SeaduseSate" maxOccurs="unbounded">
                                            <xs:complexType etoimik:type="etoimik:SeaduseSate">
                                              <xs:group ref="tns:SeaduseSateVastus"/>
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Paring" type="tns:AnnaIsikuKvalifikatsioonidParing"/>
  <xs:element name="Vastus" type="tns:AnnaIsikuKvalifikatsioonidVastus"/>
</xs:schema>
